@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;400;600;900&display=swap');

/*

global styles

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geologica', sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.caps {
  text-transform: capitalize;
}

.bold {
  font-weight: bolder;
}

.btn {
  border: none;
  padding: 0.8rem 4rem;
  background: transparent;
}

/* hero section */

/* .hero--section {
  height: 100vh;
} */

.hero {
  height: 100vh;
  padding: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/banner.png) center/cover no-repeat fixed;
}

/* 

nav-bar 

*/

.title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  /* margin: 2rem auto; */
}

.title-details {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 10rem;
  position: relative;
}

/* .title {
  font-size: 1.5rem;
  position: absolute;
  left: 4rem;
} */

.nav-links {
  flex-basis: 25rem;
  transition: all 10s 0.2s;
}

.nav-links ul {
  display: flex;
  justify-content: space-around;
}

.nav-link:hover {
  border-bottom: 2px solid red;
}

/* 

hero description

*/

.main {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50rem;
  margin: 0 auto;
  color: #fff;
}

.main-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
  /* color: #fff; */
}

.main-desc {
  font-weight: 100;
  text-align: center;
}

.btn-visit {
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.btn-visit {
  position: relative;
  transition: all 1s 0.2s;
}

.btn-visit:hover {
  background: red;
}

.btn-visit::before {
  content: '____';
  position: absolute;
  left: -0.7rem;
  top: 0.2rem;
  transition: all 1s 0.2s;
}

.btn-visit:hover::before {
  color: red;
}

.btn-visit::after {
  content: '____';
  position: absolute;
  right: -0.7rem;
  top: 0.2rem;
  transition: all 1s 0.2s;
}

.btn-visit:hover::after {
  color: red;
}

/*

courses


*/

.courses {
  max-width: 1440px;
  text-align: center;
  margin: 5rem auto;
}

.courses-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.courses-header p {
  font-weight: 100;
}

.course-list {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
  /* row-gap: 4rem; */
}

.course {
  flex-basis: 24rem;
  background: rgb(226, 209, 214);
  padding: 2rem;
  border-radius: 1rem;
}

.course-name {
  font-weight: 400;
  margin-bottom: 1rem;
}

.course-desc {
  font-weight: 100;
}

/*  

offices


*/

.offices {
  max-width: 1440px;
  text-align: center;
  margin: 5rem auto;
}

.offices-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.offices-header p {
  font-weight: 100;
}

.office-list {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
}

.office {
  position: relative;
  flex-basis: 27rem;
}

.office-location {
  position: absolute;
  bottom: 0%;
  left: 10rem;
  /* transform: translate(-50%, -50%); */
  color: transparent;
}

.office:hover {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 1rem;
}

.office:hover .office-location {
  /* animation: move 5s 1;
  animation-fill-mode: forwards; */
  color: #fff;
  transform: translateY(-20rem);
}

/* @keyframes move {
  0% {
    color: #fff;
    transform: translateY(0);
  }
  100% {
    color: #fff;
    transform: translateY(-20rem);
  }
  100% {
    transform: translateY(0rem);
    color: transparent;
  }
} */

.office-img {
  position: relative;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  z-index: -1;
}

/* 

Facilities 

*/

.facilites {
  max-width: 1440px;

  margin: 5rem auto;
}

.facilites-header {
  text-align: center;
}

.facilites-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
}

.facilites-header p {
  font-weight: 100;
}

.facility-list {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
}

.facility {
  position: relative;
  flex-basis: 27rem;
}

.facility-type {
  text-align: start;
  font-weight: 400;
  margin: 0.9rem 0;
}

.facility-desc {
  font-weight: 100;
}

.facility-img {
  position: relative;
  width: 100%;
  object-fit: contain;
  border-radius: 1rem;
  z-index: -1;
}

/*

courses


*/

.feedbacks {
  max-width: 1440px;

  margin: 5rem auto;
}

.feedbacks-header h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.7rem;
  text-align: center;
}

.feedbacks-header p {
  font-weight: 100;
  text-align: center;
}

.feedback-list {
  margin: 4rem 0;
  display: flex;
  justify-content: space-around;
  /* row-gap: 4rem; */
}

.feedback {
  flex-basis: 45%;
  background: rgb(226, 209, 214);
  padding: 2rem;
  border-radius: 0.5rem;
}

.feedback-details {
  display: flex;
  align-items: flex-start;
}

.feedback-img {
  margin-right: 1rem;
  position: relative;
  width: 2rem;
  object-fit: contain;
  border-radius: 1rem;
  /* z-index: -1; */
}

.feedback-name {
  font-weight: 400;
  margin: 1rem 0;
}

.feedback-desc {
  font-weight: 100;
}

/* 

enrollment

*/

.enrollment {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url(./assets/banner2.jpg) center/cover no-repeat fixed;
  max-width: 1370px;
  margin: 10rem auto;
  height: 30rem;
  border-radius: 1rem;
}

/* .enroll {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 70rem;
  margin: 0 auto;
  color: #fff;
} */

.enroll {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 10rem;
}

.main-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin: 2rem 0;
  color: #fff;
}

.btn-contact {
  color: #fff;
  border: 1px solid #fff;
  font-size: 0.8rem;
  margin-top: 2rem;
  position: relative;
  transition: all 1s 0.2s;
}

.btn-contact:hover {
  background: red;
}

.btn-contact::before {
  content: '____';
  position: absolute;
  left: -0.7rem;
  top: 0.2rem;
  transition: all 1s 0.2s;
}

.btn-contact:hover::before {
  color: red;
}

.btn-contact::after {
  content: '____';
  position: absolute;
  right: -0.7rem;
  top: 0.2rem;
  transition: all 1s 0.2s;
}

.btn-contact:hover::after {
  color: red;
}

/* 

footer

*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer h1 {
  font-weight: 400;
  font-size: 1.7rem;
}

footer p {
  font-weight: 100;
  margin: 3rem 0;
  width: 60%;
}

footer ul {
  display: flex;
  justify-content: space-around;
}

footer li {
  margin-right: 1rem;
}
